
#nav_bar {
	background-color: gray;
	float:left;
}
#nav_bar ul
{
	margin: 0;
	padding: 0;
}

#nav_bar ul li
{
	list-style-type: none;
	display: inline;
}

#nav_bar li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#nav_bar a:hover {
	font-family: 'Raleway', Arial;
	background-color: yellow;
}

#side_bar {
	float: right;
	width: 200px;
	background-color: gray;
	font-family: 'Raleway', Arial;
	margin: 10px;
    text-align: center;
    border-right: 4px solid black;
    border-left: 4px solid;
    border-bottom: 4px solid;
}
#side_bar a:hover{
	background-color: yellow;
}

#content {
	background-color: white;
	font-family: 'Raleway', Arial;
}

#footer {
	background-color: black;
	color: white;
	padding: 10px;
	font-family: Arial;
	height: 5%;
	border-radius: 10px;
	margin: 10px;
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('font/Raleway-webfont.eot');
    src: url('font/Raleway-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Raleway-webfont.woff') format('woff'),
         url('font/Raleway-webfont.ttf') format('truetype'),
         url('font/Raleway-webfont.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
