body {
	 font-family: Arial;
	 background-color: rgb(185,179,175);}   
p {
	 color: #4C0000;}
#orange { 
	 color: #FF9900;}
#list1 { 
	  font-size: 14px;
	  font-family: Impact}
#list2 { 
	  font-size: 14px;
	  font-family: Impact}	 	  
