
h1,h2,h3, h4 {
	font-family: Impact, Arial;
	font-weight: normal;
	color: yellow;
}
img#align-right{
	margin-right: 10px;
	float: right;
	height: 300px;
	border-radius: 10px
}

#header {
	text-align: center;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}
#nav_bar {
	background-color: gray;
	color: white;
	text-align: center;
	padding: 10px;
	height: 100%;
	margin: 10px;
	border: 4px solid black;
	border-radius: 10px;
}

#side_bar {
	float: right;
	width: 200px;
    height: 100%;
	background-color: gray;
	padding: 10px;
	margin: 10px;
    text-align: center;
    border-right: 4px solid black;
}
#content {
	background-color: gray;
	font-family: Impact, Arial;
	float: middle;
	padding: 10px;
	margin: 10px;
	height: 100%;
	border: 4px solid black;
	border-radius: 10px;
}

#footer {
	background-color: black;
	color: white;
	padding: 10px;
	font-family: Arial;
	height: 80%;
	border-radius: 10px;
	margin: 10px;
}